LUMI_API_KEY=
DEEPINFRA_API_KEY=
BRAVE_API_KEY=
POSTGRES_PASSWORD=
NEO4J_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
NEO4J_URI=
NEO4J_USERNAME=
MEM0_ADMIN_API_KEY=
LLM_MODEL=Qwen/.5-35B-A3B
EMBEDDING_MODEL=BAAI/bge-m3
EMBEDDING_DIMS=1024
MEM0_LLM_MODEL=mistralai/Mistral-Small-3.2-24B-Instruct-2506